*.cache
.idea/
out/
Macro GUI (Python)/
.vs/
.localhistory/
venv/
*.sim
*.html
*.iml
*.nfs*
*.sh*
linuxConfig.config
*.out
NX/
Macro GUI*/
starRecs/
intellIJSettings*
nodefile*
Libs/
scripts/
2019 macros/
intellIJsettings.jar
Python/__pycache__/
Python/deleteEverything.bat
Python/deleteEverything.bat
