*.cache
.idea/
out/
Macro GUI (Python)/
.vs/
.localhistory/
venv/
*.sim
*.iml
*.nfs*
*.sh*
*.config*
*.Config*
*.out
NX/
Macro GUI*/
starRecs/
intellIJSettings*
nodefile*
Libs/
scripts/
2019 macros/
intellIJsettings.jar
Python/__pycache__/
