*.cache
.idea/
out/
Macro GUI (Python)/
.vs/
.localhistory/
*venv/
*.sim
*.html
*.iml
*.nfs*
*.sh*
linuxConfig.config
*.out
NX/
Macro GUI*/
intellIJSettings*
nodefile*
scripts/
intellIJsettings.jar
Python/__pycache__/
Python/deleteEverything.bat
