CLUSTER = long;
PROCS = 20;
CLUMP = true;
WALLTIME = 72:00:00;
PODKEY = iOJDZCUKWsPIjut3CFrKXQ;
SIMPATH = /scratch/scholar/rkumaran/Simulation_space;
STARLOC = /home/rkumaran/Desktop/star14/14.02.012-R8/STAR-CCM+14.02.012-R8/star/bin/starccm+;
CP = /home/rkumaran/fsaeSTAR/src;
MACRO = macroController.java;
frh = 0;
rrh = 0;
rws = 0;
uts = 0;
cs = 0;
ps = 0;
sceneMultiplier = 1;
yaw = 0;
roll = 0;
domainSet = half;
freestream = 15;
maxSteps = 1000;
preprocess = false;
process = false;
postprocess = false;
windTunnel = false;
geometryManip = false;
SA = false;
KW = true;