CLUSTER = long;
PROCS = 40;
CLUMP = true;
WALLTIME = 72:00:00;
POD = iOJDZCUKWsPIjut3CFrKXQ;
SIMPATH = /scratch/scholar/rkumaran/Simulation_space;
STARLOC = /home/rkumaran/Desktop/star/13.04.010-R8/STAR-CCM+13.04.010-R8/star/bin/starccm+;
CP = /home/rkumaran/fsaeSTAR/src;
MACRO = macroController.java;
frh = 0;
rrh = 0;
rws = 0;
uts = 0;
cs = 0;
ps = 0;
sceneMultiplier = 1;
yaw = 0;
roll = 0;
domainSet = half;
freestream = 15;
maxSteps = 5000;
preprocess = false;
process = true;
postprocess = false;
windTunnel = false;
geometryManip = false;