SIMPATH = /home/rkumaran/Desktop/rkumaran/Simulation_space/PostBeforeMoving/Posting/;
STARLOC = /depot/fsae/apps/STAR15/15.02.009-R8/STAR-CCM+15.02.009-R8/star/bin/starccm+;
CP = /home/rkumaran/secondaryGit/fsaeSTAR/src;
PODKEY = 5SaJLFgZg7E9iD6YITAjlw;
LICPATH = 1999@flex.cd-adapco.com;
MACRO = macroController.java;
CLUSTER = scholar;
PROCS = 40;
WALLTIME = 240;
yaw = 0;
sideslip = 0;
freestream = 17.88;
maxSteps = 3000;
preprocess = false;
process = false;
postprocess = true;
windTunnel = false;
CLUMPED = false;
DES = false;