SIMPATH = /home/rkumaran/Desktop/rkumaran/Simulation_space/WT_Sims/Mesh/Poly_Fine/;
STARLOC = /depot/fsae/apps/STAR15/15.02.007-R8/STAR-CCM+15.02.007-R8/star/bin/starccm+;
CP = /home/rkumaran/fsaeSTAR/src;
PODKEY = PODKEY;
LICPATH = LICPATH;
MACRO = macroController.java;
CLUSTER = long;
PROCS = 20;
WALLTIME = 2400;
yaw = 0;
freestream = 17.88;
maxSteps = 1400;
preprocess = true;
process = false;
postprocess = false;
windTunnel = true;
CLUMPED = false;
DES = false;
