CP = /home/rkumaran/secondaryGit/fsaeSTAR/src;
SIMPATH = /scratch/scholar/rkumaran/Simulation_space/2021_Design/RW;
STARLOC = /home/rkumaran/Desktop/rkumaran/STAR_Install/15.02.009-R8/STAR-CCM+15.02.009-R8/star/bin/starccm+;
PODKEY = 5SaJLFgZg7E9iD6YITAjlw;
LICPATH = 1999@flex.cd-adapco.com;
MACRO = macroController.java;
CLUSTER = scholar;
PROCS = 100;
yaw = 15;
freestream = 17.88;
maxSteps = 1700;
sideslip = 0;
steering = 0;
frh = 0;
rrh = 0;
preprocess = false;
process = true;
postprocess = false;
windTunnel = false;
CLUMPED = false;
DES = false;