SIMPATH = /home/rkumaran/Desktop/rkumaran/Simulation_space/WT_Sims/Mesh/;
STARLOC = /depot/fsae/apps/STAR15/15.02.007-R8/STAR-CCM+15.02.007-R8/star/bin/starccm+;
CP = /home/rkumaran/fsaeSTAR/src;
PODKEY = POD_KEY_HERE;
LICPATH = LIC_SERVER_HERE;
MACRO = macroController.java;
CLUSTER = scholar;
PROCS = 40;
WALLTIME = 240;
yaw = 8.049466976;
freestream = 26.8224;
maxSteps = 1000;
preprocess = true;
process = false;
postprocess = false;
windTunnel = true;
CLUMPED = false;
DES = false;
FullCar = true;
